@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
  If you buy a book online at The Book Cave site, there are two ways you can access your book.
</p> 
<p>
  You can come and look around in one of our awesome bookstores. We are in four locations in the capital area, 
  or get the book sent straight to your door. 
</p>
<p> 
  If you chose you want to get the book home delivered, 
  the book will take 1-2 business days to arrive ate your door. Tere is a free shipping all around Iceland. 
  All you have to do is sign up for My Cave, buy a book and we will send it to you, 
  or we will see you in one of our stors hopefully soon.
</p>
