@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Call us or send us  an email if you have any qestions<br />

    <abbr title="Phone">Phone number:</abbr>
    515-1700
</address>

<address>
    <strong>Email:</strong> <a href="Email :thebookcave@thebookcave.is">thebookcave@thebookcave.is</a><br />

</address>
