@{
    ViewData["Title"] = "Information";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Don't be shy come and see The Book Cave for your self.<br />
    We are located in: <br />
    Smáralind <br />
    Kringlan <br />
    Lágmúli 9 <br />
    Bankastræti 0 <br />
    We are looking forward seeing you in one of our fantastic store.<br />
</address>