@model List<TheBookCave.Models.ViewModels.CartViewModel>

<div>
    @foreach(var cart in @Model)
    {
        <div>
            <p>@cart.title</p>
            
            
        </div>
    }
</div>