@model List<TheBookCave.Models.ViewModels.BookListViewModel>

@{
    ViewBag.Title = "All Books!";
}

<div>
    @foreach(var book in @Model)
    {
        <div class="inline">
            <box id="book-img">photo of book</box>
            <p>@book.title</p>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <p><a asp-area="" asp-controller="Author" asp-action="Index" asp-route-id="@book.authorId" >@book.author</a></p>
            <p>Price: @book.price ISK</p>
        </div>
    }
</div>