body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
ul {
    margin: 0;
    padding: 0;
}
  
#map{
    width: 450px;
    height: 300px;
    float: left;
    border: solid;
    overflow: hidden;
    min-height: 100%; 
    width: auto;
}

.btn {
    border: none;
    background-color: inherit;
    font-size: 14px;
    cursor: pointer;
}
footer {
    margin-right: auto;
    margin-left: auto;
}
#location, #questions, #openingHours {
    float: left;
    border: solid;
    height: 300px;
    text-align: center;
}
#location {
    width: 175px;
}
#openingHours{
    width: 210px;
}
#questions {
    width: 140px;
}
div > h4 {
    text-align: center;
    word-wrap: break-word;
    flex-wrap: wrap; 
}
li {
    list-style-type: none;
    text-align: center; 
    font-size: 14px;
}

img {
    height: 300px;
}

div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 3cm;
    margin-bottom: 3cm;
    font-size: large;
}

.signIn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
