@model <TheBookCave.Models.ViewModels.CustomerViewModel>
<div>
    <form>
        <label for="username">Username: </label>
        <input id="username" type="email" name="username"><br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password"><br>
        <br>
        <button type="submit" class="signIn">Sign In!</button>
    </form>
</div>